*{
    margin: 0;
	padding: 0;
}

html{
    scroll-behavior: inherit;
}

.center{
    display: flex;
    justify-content: center;
}

section{
    height: max-content;
    margin-top: 40px;
    margin-bottom: 40px;
}

/* FOOTER STYLES  */
footer{
    height: max-content;
    min-height: min-content;

    background-color: black;
    color: rgb(104, 103, 103);
    
    display: flex;
    justify-content: center;
    
    left: 0;
    bottom: 0;
    width: 100%;
    
    text-align: center;
}


footer img, nav img{
    height: 50px;
    width: auto;
    vertical-align: middle;
}

footer img{
    background-color: white;
    height: 50px;
    width: auto;
    vertical-align: middle;
}


footer  a{
    text-decoration: none;
    color: rgb(104, 103, 103);
}

footer p, nav p{
    font-size: 0.8em;;
}

nav,a:hover{
    color: rgb(219, 22, 22);
    
}

/* nav style */

nav{
    height: max-content;
    min-height: 60px;
    background-color: rgb(53, 49, 49);
    color: rgb(104, 103, 103);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: larger;

    width: 100%;
    left: 0;
    top: 0;

    box-shadow: 0px 10px 5px rgba(99, 99, 99, 0.76);
}

nav .main-nav{
    min-height: 60px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-around;
}

nav a{
    text-decoration: none;
    color: white;
    transition: color 0.5s ease;
}

nav img{
    background-color: #ffffff;
}

nav .nav-text{
    display: flex;
    align-items: center;
    padding-left: 10%;
    min-height: 60px;
}



#first-section .center p{
    padding: 20px;
    background-color: #3E3939A1;
    border-radius: 20px;
}

.contact{
    color: rgb(104, 103, 103);
    font-weight: bold;
}

.us a{
    color:rgb(104, 103, 103) ;
    text-decoration: none;
}

.us li{
    display: flex;
    justify-content: space-around;
}